body {
    padding: 0;
    margin: 0;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;

}


ul {
    padding: 0;
    margin: 0;
}

.navlinks {
    background-color: skyblue;
    color: antiquewhite;
    text-align: center;
    font-size: 1.2rem;
}

li {
    padding: 10px;
    border-bottom: 1px solid antiquewhite;
}

li:hover {
    background-color: cornflowerblue;
}

.imagebanner {
    background-image: url("pictures/banner.png");
    padding: 50px 0;
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
    h2{
    text-align: center;
    color: antiquewhite;
    background-color: cornflowerblue;}
}




h4 {
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

img {
    width: 200px;
    height: 200px;
}

.Havefun {
    text-align: center;
    margin: 3px;
}

@media screen and (min-width: 700px) {
    ul {
        text-align: right;
    }

    li {
        display: inline-block;
        border-bottom: 0px;
        border-left: 1px solid rgb(73, 14, 67);
    }

    .Hi {
        width: 33%;
        display: inline-block;
        vertical-align: top;
    }
}

.addEventListener {
    padding: 50px 0;
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
    color-scheme: antiquewhite cornflowerblue lightblue;
    h2{ 
    text-align: center;
    color: antiquewhite;
    background-color: cornflowerblue;
}
    
}
h1{
    text-align: center;
    color: black;
}
html{
    background-color: mintcream;
}
